.main
  .main__feader
    .main__feader__left
      .main__feader__left__name
        = @group.name
      .main__feader__left__member
        <ul>Member : </ul>
        - @group.users.each do |user|
          = user.name
    .main__feader__right.btn
      = link_to 'Edit', edit_group_path(@group.id)
  .main__wrapper
    = render @messages
  .main__footer
    = form_for [@group, @message],html: {class:"main__footer__text"} do |f|
      = f.text_field :text, placeholder: "type a message", class: "main__footer__text__input"
      = f.label :image, class:"main__footer__text__input__img" do
        = icon('far','image')
        = f.file_field :image, class: "main__footer__text__file"
      = f.submit "Send", class: "main__footer__submit btn" 